{% extends "/common/base.html" %}
{% set active_page = "index" %}

{% block content %}

    {% include '/common/header.html' %}
    {% include '/common/scripts.html' %}

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <section>
        <div class="col-md-7">
            <h5 class="section-title border-top">
                <span class="rgb-label theme-background"><i class="fa fa-twitter"></i></span>
                RECENT TWEETS
            </h5>
            <section class="reader_rec hide-for-mob hide-landscape hide-portrait"
                     style="border-top: 8px solid #dddddd;margin-bottom: 10px;">

                <a class="twitter-timeline"
                   href="https://twitter.com/ESPNcricinfo/timelines/585813293161406464?ref_src=twsrc%5Etfw"
                   height="893" data-chrome="noheader nofooter"></a>


            </section>

            <script>
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </div>

        <div class="col-md-5">
            <h5 class="section-title border-top">
                <span class="rgb-label theme-background"><i class="fa fa-youtube-play"></i></span>
                Featured Videos
            </h5>
            <iframe src='https://www.sociablekit.com/app/embed/index.php?embed_id=15593' frameborder='0' width='100%' height='1000'></iframe>
        </div>
    </section>

    <h4 class="section-title border-top">
        <span class="rgb-label theme-background">
            <i class="lnr lnr-hand"></i>
        </span>
        Upcoming matches
    </h4>

    <div class="rgb-content-wrap">
        <!--Fixture Slider Wrap Start-->
        <div class="rgb-fixtures-slider-wrap">
            <!--Fixture Slider Start-->
            <div class="fixtures-slider">
                {% for m in matches %}
                    <div>
                        <!--Fixture Content Start-->
                        <div class="rgb-fixtures-contant border-top" id="{{ m["unique_id"] }}">
                            <!--Team 1 Start-->
                            <div class="h3 rgb-team-1 pull-left">
                                <div class="text-wrap">
                                    <a href="#">{{ m["team-1"] }}</a>
                                </div>
                            </div>
                            <!--Team 1 End-->


                            <div class="rgb-opponanet">
                                <h6>VS</h6>
                            </div>
                            <!--Team 2 Start-->
                            <div class="h3 rgb-team-1 pull-right">
                                <div class="text-wrap">
                                    <a href="#">{{ m["team-2"] }}</a>
                                </div>

                                <!--Team 2 End-->
                            </div>

                            <div class="rgb-fixtures-date">
                                <h5>{{ m["date"] | formatdatetime }}</h5>
                                <div>{{ m["type"] }}</div>
                            </div>

                        </div>
                        <!--Fixture Contant End-->
                    </div>
                {% endfor %}

            </div>
        </div>
        <!--Fixture Slider End-->
    </div>

    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}