{% extends "/common/base.html" %}
{% set active_page = "index" %}

{% block content %}

    {% include '/common/header.html' %}

    <section>
        <div class="col-md-8">
            <h5 class="section-title border-top">
                <span class="rgb-label theme-background"><i class="fa fa-twitter"></i></span>
                Readers recommend
            </h5>
            <a class="twitter-timeline" data-width="1200" data-widget-id="586402209283227648"
               data-chrome="noheader nofooter" href="/ESPNcricinfo/timelines/585813293161406464"></a>
            <script>
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </div>

        <div class="col-md-4">
            <h5 class="section-title border-top">
                <span class="rgb-label theme-background"><i class="fa fa-youtube-play"></i></span>
                Featured Videos
            </h5>
            <iframe src="http://ytchannelembed.com/ytce-gallery.php?user=UCt2JXOLNxqry7B_4rRZME3Q&rows=10&ratio=hd&width=185&margin=10&desc="
                    100&desc_color=9E9E9E&title=35&title_color=000000&https=1&duration=1&views=1&likes=0&dislikes=0&fav=0&cols=2"
                    style="height:420px;overflow: hidden;" scrolling="auto"></iframe>
        </div>
    </section>

    <h4 class="section-title border-top">
        <span class="rgb-label theme-background">
            <i class="lnr lnr-hand"></i>
        </span>
        Upcoming matches
    </h4>

    <div class="rgb-content-wrap">
        <!--Fixture Slider Wrap Start-->
        <div class="rgb-fixtures-slider-wrap">
            <!--Fixture Slider Start-->
            <div class="fixtures-slider">
                {% for m in matches %}
                    <div>
                        <!--Fixture Content Start-->
                        <div class="rgb-fixtures-contant border-top" id="{{ m["unique_id"] }}">
                            <!--Team 1 Start-->
                            <div class="h3 rgb-team-1 pull-left">
                                <div class="text-wrap">
                                    <a href="#">{{ m["team-1"] }}</a>
                                </div>
                            </div>
                            <!--Team 1 End-->


                            <div class="rgb-opponanet">
                                <h6>VS</h6>
                            </div>
                            <!--Team 2 Start-->
                            <div class="h3 rgb-team-1 pull-right">
                                <div class="text-wrap">
                                    <a href="#">{{ m["team-2"] }}</a>
                                </div>

                                <!--Team 2 End-->
                            </div>

                            <div class="rgb-fixtures-date">
                                <h5>{{ m["date"] | formatdatetime }}</h5>
                                <div>{{ m["type"] }}</div>
                            </div>

                        </div>
                        <!--Fixture Contant End-->
                    </div>
                {% endfor %}

            </div>
        </div>
        <!--Fixture Slider End-->
    </div>

    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}