<!--Jquery Library-->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<!--Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<!--Slick Slider JavaScript-->
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!--Dl Menu Script-->
<script src="{{ url_for('static', filename='js/dl-menu/modernizr.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/dl-menu/jquery.dlmenu.js') }}"></script>
<!--Custom JavaScript-->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>