{% extends "/common/base.html" %}

{% block content %}
    {% include '/common/header.html' %}

    <style>

        #commListTable {

            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 17px;
        }

        #commListTable th, #commListTable td {
            text-align: left;
            padding: 12px;
            font-family: Ubuntu;
        }

        #commListTable tr {
            border-bottom: 1px solid #ddd;
            font-family: Ubuntu;
            font-size: 13px;
        }

        #commListTable tr.header, #commListTable tr:hover {
            background-color: #f1f1f1;
        }


    </style>

    <script>

        var contain_rank = '{{ranking_info["contain_rank"]}}';
        var rank_data = '{{rank_data}}'

        var format = '{{ranking_info["format"]}}';
        var gender = '{{ranking_info["gender"]}}';
        var rank_type = '{{ranking_info["rank_type"]}}';

        function valid(str) {
            return !(!str || 0 === str.length || !str.trim());
        }


        function show_rest() {
            if (gender == "mens")
                gender_cell.innerHTML = "MENS";
            else if (gender == "womens")
                gender_cell.innerHTML = "WOMENS";

            if (format == "test")
                format_cell.innerHTML = "TEST";
            else if (format == "odi")
                format_cell.innerHTML = "ODI";
            else
                format_cell.innerHTML = "T20";

            if (rank_type == "batting")
                rank_type_cell.innerHTML = "OF BATSMEN "
            else if (rank_type == "bowling")
                rank_type_cell.innerHTML = "OF BOWLERS "
            else if (rank_type == "all-rounder")
                rank_type_cell.innerHTML = "OF ALL-ROUNDERS "
            else
                rank_type_cell.innerHTML = "OF TEAMS "

        }

        var new_row, rank_cell, name_cell, rating_cell, gender_cell, format_cell, rank_type_cell
        var limit = 0

        function addcell() {

            table = document.getElementsByTagName("table")[0];
            new_row = table.insertRow(table.rows.length);

            rank_cell = new_row.insertCell(0);
            name_cell = new_row.insertCell(1);
            rating_cell = new_row.insertCell(2);
            gender_cell = new_row.insertCell(3);
            format_cell = new_row.insertCell(4);
            rank_type_cell = new_row.insertCell(5);

        }


        function hello() {



            if (limit == 0) {
                addcell();
                rank_cell.innerHTML = '{{rank_data[10]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[10]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[10]["rating"]}}';
                show_rest();
                addcell();

                rank_cell.innerHTML = '{{rank_data[11]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[11]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[11]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[12]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[12]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[12]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[13]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[13]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[13]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[14]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[14]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[14]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[15]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[15]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[15]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[16]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[16]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[16]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[17]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[17]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[17]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[18]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[18]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[18]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[19]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[19]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[19]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[20]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[20]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[20]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[21]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[21]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[21]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[22]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[22]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[22]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[23]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[23]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[23]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[24]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[24]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[24]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[25]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[25]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[25]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[26]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[26]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[26]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[27]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[27]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[27]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[28]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[28]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[28]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[29]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[29]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[29]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[30]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[30]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[30]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[31]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[31]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[31]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[32]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[32]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[32]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[33]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[33]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[33]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[34]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[34]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[34]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[35]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[35]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[35]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[36]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[36]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[36]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[37]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[37]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[37]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[38]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[38]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[38]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[39]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[39]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[39]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[40]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[40]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[40]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[41]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[41]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[41]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[42]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[42]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[42]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[43]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[43]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[43]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[44]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[44]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[44]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[45]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[45]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[45]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[46]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[46]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[46]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[47]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[47]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[47]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[48]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[48]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[48]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[49]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[49]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[49]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[50]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[50]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[50]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[51]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[51]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[51]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[52]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[52]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[52]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[53]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[53]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[53]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[54]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[54]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[54]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[55]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[55]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[55]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[56]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[56]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[56]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[57]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[57]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[57]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[58]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[58]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[58]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[59]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[59]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[59]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[60]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[60]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[60]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[61]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[61]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[61]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[62]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[62]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[62]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[63]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[63]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[63]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[64]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[64]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[64]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[65]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[65]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[65]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[66]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[66]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[66]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[67]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[67]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[67]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[68]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[68]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[68]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[69]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[69]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[69]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[70]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[70]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[70]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[71]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[71]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[71]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[72]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[72]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[72]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[73]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[73]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[73]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[74]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[74]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[74]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[75]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[75]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[75]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[76]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[76]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[76]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[77]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[77]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[77]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[78]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[78]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[78]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[79]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[79]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[79]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[80]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[80]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[80]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[81]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[81]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[81]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[82]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[82]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[82]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[83]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[83]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[83]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[84]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[84]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[84]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[85]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[85]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[85]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[86]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[86]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[86]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[87]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[87]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[87]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[88]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[88]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[88]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[89]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[89]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[89]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[90]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[90]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[90]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[91]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[91]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[91]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[92]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[92]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[92]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[93]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[93]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[93]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[94]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[94]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[94]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[95]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[95]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[95]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[96]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[96]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[96]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[97]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[97]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[97]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[98]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[98]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[98]["rating"]}}';
                show_rest();
                addcell();
                rank_cell.innerHTML = '{{rank_data[99]["rank"]}}';
                name_cell.innerHTML = '{{rank_data[99]["name"]}}';
                rating_cell.innerHTML = '{{rank_data[99]["rating"]}}';
                show_rest();

                limit = 1
                document.getElementById("rank_change_button").value = "TOP 10"
            }
            else {

                table = document.getElementsByTagName("table")[0];
                var i = 0;
                for (i = 100; i > 10; i--)
                    table.deleteRow(i);

                limit = 0;
                document.getElementById("rank_change_button").value = "Full Ranking"
            }

        }

    </script>


    <div align="center">

        <div style="width: 70%">


            <h2 class="page-header" id="rank_header">
                <script>

                    document.write("ICC ")

                    if (format == "tests")
                        document.write("TEST ")
                    else if (format == "odi")
                        document.write("ODI ")
                    else
                        document.write("T20 ")

                    document.write("RANKING ")

                    if (rank_type == "batting")
                        document.write("OF BATSMEN ")
                    else if (rank_type == "bowling")
                        document.write("OF BOWLERS ")
                    else
                        document.write("OF ALL-ROUNDERS ")

                    if (gender == "mens")
                        document.write("(MENS)")
                    else if (gender == "womens")
                        document.write("(WOMENS)")

                </script>

            </h2>

            <table id="commListTable">
                <tr class="header">
                    <th align="center" style="width: 10%" align="center"> Rank</th>
                    <th align="center" style="width: 20%" align="center">Name</th>
                    <th align="center" style="width: 10%" align="center"> Rating</th>
                    <th align="center" style="width: 10%" align="center"> Gender</th>
                    <th align="center" style="width: 10%" align="center"> Format</th>
                    <th align="center" style="width: 15%" align="center"> Rank Type</th>
                </tr>

                {% for i in range(10) %}
                    {% set item = rank_data[i] %}
                    <tr>
                    <td align="center"> {{ item["rank"] }}</td>
                    <td align="center"> {{ item["name"] }}</td>
                    <td align="center"> {{ item["rating"] }}</td>

                    <td align="center">
                        <script>
                            if (gender == "mens")
                                document.write("MEN")
                            else if (gender == "womens")
                                document.write("WOMENS")
                        </script>
                    </td>

                    <td align="center">
                        <script>
                            if (format == "test")
                                document.write("TEST")
                            else if (format == "odi")
                                document.write("ODI")
                            else
                                document.write("T20")
                        </script>
                    </td>

                    <td align="center">
                        <script>
                            if (rank_type == "batting")
                                document.write("BATSMEN")
                            else if (rank_type == "bowling")
                                document.write("BOWLERS")
                            else if (rank_type == "all-rounder")
                                document.write("ALL-ROUNDERS ")
                            else
                                document.write("TEAMS ")
                        </script>
                    </td>
                {% endfor %}
                </tr>
            </table>
            <br/>
            <div class="form-group">
                <input onclick="hello()" id="rank_change_button" type="submit" class="btn btn-dark btn-lg"
                       value="Full Ranking">
            </div>


        </div>
    </div>
    <br/>
    <br/>
    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}
