{% extends "/common/base.html" %}

{% block content %}
{% include '/common/header.html' %}

<style>

    #commListTable {

        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 17px;
    }

    #commListTable th, #commListTable td {
        text-align: left;
        padding: 12px;
        font-family: Ubuntu;
    }

    #commListTable tr {
        border-bottom: 1px solid #ddd;
        font-family: Ubuntu;
        font-size: 13px;
    }

    #commListTable tr.header, #commListTable tr:hover {
        background-color: #f1f1f1;
    }


</style>

<script>
    var format = '{{ranking_info["format"]}}';
    var gender = '{{ranking_info["gender"]}}';
    var rank_type = '{{ranking_info["rank_type"]}}';

    function valid(str) {
        return !(!str || 0 === str.length || !str.trim());
    }
</script>


<div align="center">

    <div style="width: 70%">



        <h2 class="page-header" id="rank_header">
            <script>

                document.write("ICC ")

                if (format == "test")
                    document.write("TEST ")
                else if (format == "odi")
                    document.write("ODI ")
                else
                    document.write("T20 ")

                document.write("RANKING ")

                if (rank_type == "batting")
                    document.write("OF BATSMEN ")
                else if (rank_type == "bowling")
                    document.write("OF BOWLERS ")
                else if (rank_type == "all-rounder")
                    document.write("OF ALL-ROUNDERS ")
                else
                    document.write("OF TEAMS ")

                if (gender == "mens")
                    document.write("(MENS)")
                else if (gender == "womens")
                    document.write("(WOMENS)")

            </script>

        </h2>

        <table id="commListTable">
            <tr class="header">
                <th align="center" style="width: 10%" align="center"> Rank</th>
                <th align="center" style="width: 20%" align="center">Name</th>
                <th align="center" style="width: 10%" align="center"> Rating</th>
                <th align="center" style="width: 10%" align="center"> Gender</th>
                <th align="center" style="width: 10%" align="center"> Format</th>
                <th align="center" style="width: 15%" align="center"> Rank Type</th>
            </tr>

            {% for item in rank_data%}
            <tr>
                <td align="center"> {{ item["rank"] }}</td>
                <td align="center"> {{ item["name"] }}</td>
                <td align="center"> {{ item["rating"] }}</td>

                <td align="center">
                    <script>
                        if (gender == "mens")
                            document.write("MEN")
                        else if (gender == "womens")
                            document.write("WOMENS")
                    </script>
                </td>

                <td align="center">
                    <script>
                        if (format == "test")
                            document.write("TEST")
                        else if (format == "odi")
                            document.write("ODI")
                        else
                            document.write("T20")

                    </script>
                </td>

                <td align="center">
                    <script>
                        if (rank_type == "batting")
                            document.write("BATSMEN")
                        else if (rank_type == "bowling")
                            document.write("BOWLERS")
                        else if (rank_type == "all-rounder")
                            document.write("ALL-ROUNDERS ")
                        else
                            document.write("TEAMS ")
                    </script>
                </td>
                {% endfor %}
            </tr>
        </table>
        <br/>
    </div>
</div>
<br/>
<br/>
{% include '/common/footer.html' %}
{% include '/common/footer-social.html' %}
{% endblock %}
