{% extends "/common/base.html" %}

{% block content %}
    {% include '/common/header.html' %}


    <div align="center">
        <h2 class="page-header" id="rank_header">
            <script>
                var format = '{{format}}';
                var gender = '{{gender}}';
                var rank_type = '{{rank_type}}';
                document.write("ICC ")
                if (format == "test")
                    document.write("TEST ")
                else if (format == "odi")
                    document.write("ODI ")
                else
                    document.write("T20 ")
                document.write("RANKING ")
                if (rank_type == "batsmen" || rank_type == "batting")
                    document.write("OF BATSMEN ")
                else if (rank_type == "bowling" || rank_type == "bowling")
                    document.write("OF BOWLERS ")
                else if (rank_type == "teams" || rank_type == "team")
                    document.write("OF TEAMS ")
                else
                    document.write("OF ALL-ROUNDERS ")
                if (gender == "men")
                    document.write("(MENS)")
                else if (gender == "women")
                    document.write("(WOMENS)")
            </script>
        </h2>
    </div>

    <div class="col-md-12" style="padding-left: 2%; padding-right: 2%; padding-bottom: 2%">


    {% if rank_type=="teams" %}
        <div class="col-md-12" style="background-color: white; font-size: 15px">

            <div class="col-md-12" style="padding-top: 1%" style="font: bold">
                <div class="col-md-3" align="center">Position</div>

                <div class="col-md-6" align="center">Team Name</div>

                <div class="col-md-3" align="center">Rating</div>
            </div>

            {% for item in RANK_DATA %}
                <div class="col-md-12">
                    <hr>

                    <div class="col-md-3" align="center">{{ item["position"] }}</div>

                    <div class="col-md-6" align="center">{{ item["country"] }}</div>

                    <div class="col-md-3" align="center">{{ item["rating"] }}</div>
                </div>
            {% endfor %}

            <div class="col-md-12" style="padding-bottom: 1%"></div>

        </div>
    {% else %}

        <div class="col-md-12"  style="background-color: white; font-size: 15px">
            <div class="col-md-12">

                <div class="col-md-12" style="padding-top: 1%" style="font: bold">
                    <div class="col-md-2" align="center">Position</div>
                    <div class="col-md-8" align="center">Player</div>
                    <div class="col-md-2" align="center">Rating</div>
                </div>

                {% for i in range(rank_limit) %}
                    {% set item = RANK_DATA[i] %}
                    <div class="col-md-12">
                        <hr>

                        <div class="col-md-2" align="center">{{ item["position"] }}</div>

                        <div class="col-md-8" align="center" style="padding-left: 18%;">
                            <div class="col-md-5" align="right">
                                <div class="col-md-1" align="center">
                                <span class="cb-ico"
                                      style="position:absolute; padding-top: 1%"></span>
                                    {{ item["position_change"] }}
                                </div>

                                <div class="col-md-4">
                                    <img src="https:www.cricbuzz.com{{ item["img_url"] }}"
                                         title="{{ item["name"] }}" alt="{{ item["name"] }}"
                                         class="img-responsive cb-rank-plyr-img"
                                        style="width: 60px; height: 60px"/>
                                </div>
                            </div>

                            <div class="col-md-3" align="center">
                                <a style="font: bold" title="{{ item["name"] }}">
                                    {{ item["name"] }}
                                </a>
                                <div align="center">{{ item["country"] }}</div>
                            </div>
                        </div>

                        <div class="col-md-2" align="center">{{ item["rating"] }}</div>
                    </div>
                {% endfor %}
                <div class="col-md-12" style="padding-bottom: 1%"></div>

            </div>
        </div>

    {% endif %}

    {% if rank_type!="teams" and rank_type!="all-rounders" %}
    <div align="center">
            <form action="/show_rank" method="POST">
                <br/>
                <input type="hidden" name="format" value="{{ format }}"></input>
                <input type="hidden" name="gender" value="{{ gender }}"></input>
                <input type="hidden" name="rank_type" value="{{ rank_type }}"></input>
                <input type="hidden" name="rank_limit" value="{{ rank_limit }}"></input>
                <input type="hidden" name="rank_status" value="{{ rank_status }}"></input>

                <div class="col-md-12" style="padding-bottom: 2%"></div>

                {% if rank_type != "all-rounder" %}
                    <button type="submit" name="rank_status" value="" align="center"
                            style="background-color: #1f679d; color: white; height: 40px; width: 15%"
                            title="{{ rank_status }}">
                        {{ rank_status }}
                    </button>
                {% endif %}
            </form>

    </div>
    {% endif %}

    </div>


    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}