{% extends "/common/base.html" %}

{% block content %}
    {% include '/common/header.html' %}

    <script>
        window.onload = function () {
            check_login_status();
            display_error();
        }

    </script>
    <style>

        #commListTable {

            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 17px;
        }

        #commListTable th, #commListTable td {
            text-align: left;
            padding: 12px;
            font-family: Ubuntu;
        }

        #commListTable tr {
            border-bottom: 1px solid #ddd;
            font-family: Ubuntu;
            font-size: 13px;
        }

        #commListTable tr.header, #commListTable tr:hover {
            background-color: #f1f1f1;
        }

        .cb-more-btn {
            padding: 8px 20px;
            border-radius: 2px;
            color: #fff;
            background: #1f679d;
            border: 0;
            cursor: pointer;
        }


    </style>

    <style>

        #commListTable {

            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 17px;
        }

        #commListTable th, #commListTable td {
            text-align: left;
            padding: 12px;
            font-family: Ubuntu;
        }

        #commListTable tr {
            border-bottom: 1px solid #ddd;
            font-family: Ubuntu;
            font-size: 13px;
        }

        #commListTable tr.header, #commListTable tr:hover {
            background-color: #f1f1f1;
        }


    </style>

    <script>


        var tournament = '{{stat_info["Tournament"]}}';
        var tournament_msg = '{{stat_info["Tournament_msg"]}}';

        var year = '{{stat_info["Year"]}}';
        var year_msg = '{{stat_info["Year_msg"]}}';

        function valid(str) {
            return !(!str || 0 === str.length || !str.trim());
        }

        function display_error() {

            if (!valid(tournament_msg) && !valid(year_msg)) {
                document.getElementById("Tournament").value = "Choose..."
                document.getElementById("Year").value = "Choose..."
            }

            if (valid(tournament)) {
                document.getElementById("Tournament").value = tournament
                change_option()
            }

            if (valid(tournament_msg))
                document.getElementById("Tournament_msg").innerText = tournament_msg;
            if (valid(year_msg)) {

                document.getElementById("Year_msg").innerText = year_msg;
            }
        }

        function change_option() {
            var Tournament_element = document.getElementById("Tournament")
            var Year_element = document.getElementById("Year")

            Year_element.innerHTML = ""

            if (Tournament_element.value == "Choose...") {
                var optionArray = ["Choose..."]
            }
            else if (Tournament_element.value == "BPL") {
                var optionArray = ["Choose...", "2017", "2016", "2015", "2013", "2012"]
            }
            else if (Tournament_element.value == "IPL") {
                var optionArray = ["Choose...", "2018", "2017", "2016", "2015", "2014", "2013", "2012", "2011"]
            }
            else if (Tournament_element.value == "BBL") {
                var optionArray = ["Choose...", "2018-19", "2017-18", "2016-17", "2015-16", "2014-15", "2013-14", "2012-13"]
            }
            else if (Tournament_element.value == "PSL") {
                var optionArray = ["Choose...", "2018", "2017", "2016"]
            }
            else if (Tournament_element.value == "CPL") {
                var optionArray = ["Choose...", "2018", "2017", "2016", "2015", "2014", "2013"]
            }
            for (var i = 0; i < optionArray.length; i++) {
                var option = optionArray[i];
                var newOption = document.createElement("option");
                newOption.value = option;
                newOption.innerHTML = option;
                Year_element.options.add(newOption);
            }
        }
    </script>

    <div align="center">


        <div style="width: 70%">

            <br/>
            <br/>
            {% if stat_data is none %}
                <h2 align="center"> T20 Tournament Statistics and Data Visualization</h2>
                <br/>
                <form action="/show_stats" method="POST">
                    <div class="form-group" align="center" style="width: 35%">
                        <label for="format">Tournament</label>
                        <select id="Tournament" name="Tournament" onchange="change_option()"
                                class="custom-select mb-2 mr-sm-2 mb-sm-0" id="format" name="format">
                            <option selected>Choose...</option>
                            <option value="BPL">BPL - Bangladesh Premier League</option>
                            <option value="IPL">IPL - Indian Premier League</option>
                            <option value="BBL">BBL - Big Bash League</option>
                            <option value="PSL">PSL - Pakistan Super League</option>
                            <option value="CPL">CPL - Caribbean Premier League</option>
                        </select>
                        <span id="Tournament_msg" style="font-size: small;color: red"></span>
                    </div>
                    <div class="form-group" style="width: 35%">
                        <label for="gender">Choose Year</label>
                        <select id="Year" name="Year" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="gender"
                                name="gender">
                            <option selected>Choose...</option>
                        </select>
                        <span id="Year_msg" style="font-size: small;color: red"></span>
                    </div>
                    <br/>

                    <div align="center" style="width: 35%">
                        <button type="submit" class="cb-more-btn" value="Show Ranking">
                            Show Statistics
                        </button>
                    </div>
                </form>
                {% include 'stat/team_stat_inp.html' %}

            {% else %}

                <h4 class="page-header" id="rank_header">
                    <script>

                        document.write(tournament + " - " + year)

                        document.write(" TEAM STATISTICS AND DATA VISUALIZATION ")
                    </script>

                </h4>
                {#        <img src="{{ url_for('cricRATING',filenae='myfig.png') }}">#}
                {#            <img width=500 height=500 src="." alt="Can't show t20 STAT">#}
                <img width=640 height=480 src="data:image/png;base64,{{ stat_image }}" \>

                <br/>
                <br/>
                <br/>

                <h4> Points Table </h4>

                <table id="commListTable" style="background-color: white">
                    <tr class="header" style="background-color: white">
                        <th align="center" style="width: 30%" align="center"> Team</th>
                        <th align="center" style="width: 10%" align="center"> Matches</th>
                        <th align="center" style="width: 10%" align="center"> Won</th>
                        <th align="center" style="width: 10%" align="center"> Lost</th>
                        <th align="center" style="width: 10%" align="center"> No Result</th>
                        <th align="center" style="width: 10%" align="center"> Points</th>
                        <th align="center" style="width: 15%" align="center"> Net Run Rate</th>
                    </tr>

                    {% for item in stat_data %}
                        <tr>
                            <td align="center"> {{ item["Team"] }}</td>
                            <td align="center"> {{ item["Matches"] }}</td>
                            <td align="center"> {{ item["Won"] }}</td>
                            <td align="center"> {{ item["Lost"] }}</td>
                            <td align="center"> {{ item["No Result"] }}</td>
                            <td align="center"> {{ item["Points"] }}</td>
                            <td align="center"> {{ item["Net Run Rate"] }}</td>

                        </tr>
                    {% endfor %}
                </table>

                <br/>

            {% endif %}

        </div>
    </div>
    <div class="col-md-12">
        <p>
            <br/><br/>
        </p>
    </div>


    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}
