{% set countries = ['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India', 'Ireland',
                'Kenya', 'New Zealand', 'Pakistan', 'Scotland', 'South Africa', 'Sri Lanka',
                'West Indies', 'Zimbabwe'] %}


    <br/>
    <br/>
    <br/>
<div {#style="width: 90%"#}>
    <h2 align="center"> Yearly Statistics of Teams</h2>
    <br/>
    <br/>
</div>

<div>
    <form name="ts" action="/ts/" method='POST'>

        <div class="form-group" align="center">
            <label for="team">Select Team</label>
            <select name="team" id="team" align="center" style="width: 35%">
                {% for c in countries %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
        </div>

        <div align="center" style="width: 35%">
            <button type="submit" class="cb-more-btn" value="Show Ranking">
                Submit
            </button>
        </div>
    </form>
</div>