{% set countries = ['Afghanistan', 'Australia', 'Bangladesh', 'England', 'India', 'Ireland',
                'Kenya', 'New Zealand', 'Pakistan', 'Scotland', 'South Africa', 'Sri Lanka',
                'West Indies', 'Zimbabwe'] %}


    <br/>
    <br/>
    <br/>
<div style="width: 90%">
    <h2 align="center"> Yearly Statistics of Teams</h2>
    <br/>
    <br/>
</div>

<div class="col-md-5 col-md-offset-4">
    <form name="ts" action="/ts/" method='POST'>

        <div class="form-group">
            <label for="team">Select Team</label>
            <select name="team" id="team" align="center ">
                {% for c in countries %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <button type="submit" align="center" class="btn btn-primary" style="align-self: center">Submit</button>
        </div>
    </form>
</div>