{% extends "/common/base.html" %}

{% block content %}
    {% include '/common/header.html' %}

    <body>

    <div class="main">
        <h2 style="padding-left: 37.5%">Search For Players</h2>
        <br/>
        <br/>

        <div style="padding-left: 35.5%">
            <form action="/players/show_players" method="post">

                <input class="col-md-4" style="height: 35px; font-size: 16px"
                       name="player_name" type="text" value="Search using Players Name"
                       onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Search using Players Name';}" required="">

                <input style="height: 35px; width: 11%; background-color: #1f679d; color: white" type="submit" value="Search">

            </form>
        </div>

    <div class="col-md-12" style="padding-top: 4%"></div>

    {% if player_list is defined and player_list[0] is defined %}

        <h2 style="padding-left: 40%">{{ search_status }}</h2>

        <div style="padding-left: 10%; padding-right: 10%; padding-top: 1%">

        {% for item in player_list %}

            <div class="col-md-12" style="background-color: white; padding-left: 15%; padding-right: 15%">

                <div class="col-md-4" style="padding-top: 2%; padding-bottom: 2%">
                    <a target="_self"
                       {#href="//www.cricbuzz.com/{{ item["news_href"] }}"#}
                       title="{{ item["player_name"] }}">

                        <img height="180" width="180"
                             alt="{{ item["player_name"] }}"
                             title="{{ item["player_name"] }}"
                             itemprop="image"
                             src="{{ item["player_img"] }}"/>
                    </a>
                </div>

                <div class="col-md-8" style="padding-top: 2%">
                    <div>
                        <h3>{{ item["player_name"] }}</h3>
                    </div>

                    <div style="padding-top: 5%">
                        <form action="/players/show_profile" method="post">
                            <button type="submit" name="player_url" value="{{ item["player_href"] }}"
                                    align="center" title="View Profile"
                                    style="background-color: #1f679d; color: white; height: 40px; width: 35%">
                                    View Profile
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="padding-top: 1%;"></div>

        {% endfor %}

        </div>
    {% endif %}

    {% if player_list[0] is not defined %}
        <h3 style="padding-left: 21%; padding-bottom: 2%">{{ search_status }}</h3>
    {% endif %}

    </div>

    </body>

    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}
