{% extends "/common/base.html" %}

{% block content %}
    {% include '/common/header.html' %}

    <head>
        <title>Stytlish Search Forms Responsive Widget Template | Home :: w3layouts</title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="Stytlish Search Forms Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
        <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
        <!-- //for-mobile-apps -->
        <link href="../../static/css/searchstyle.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
              rel='stylesheet' type='text/css'>
    </head>
    <body>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="main">
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>Search For Players</h1>
        <br/>
        <br/>
        <div class="search">
            <form action="/players/show_players" method="post">

                <input name="player_name" type="text" value="Search using Players Name" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Search using Players Name';}" required="">

                <input type="submit" value="Search">

                <div class="clear"></div>

            </form>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>

    {% if player_list != None %}
    {% for item in player_list %}
    <form action="/news/detail_news" method="post">



                <div id="news-list" class="cb-bg-white">

                    <div class="cb-col cb-col-100 cb-lst-itm cb-lst-itm-lg">

                        <div class="cb-col cb-col-33" itemscope itemtype="https://schema.org/ImageObject"
                             itemprop="image">

                            <meta itemprop="width" content="205">
                            <meta itemprop="height" content="152">
                            <meta itemprop="url" content="https:" + {{ item["player_img"] }}>

                            <a target="_self"
{#                               href="//www.cricbuzz.com/{{ item["news_href"] }}"#}
                               title="{{ item["player_name"] }}">

                                <img height="152" width="205"
                                     alt="{{ item["player_name"] }}"
                                     title="{{ item["player_name"] }}"
                                     itemprop="image"
                                     class="cb-lst-img"
                                     src="{{ item["player_img"] }}"
                                     style="padding:0px;"/>
                            </a>
                        </div>
                        <div class="cb-col-67 cb-nws-lst-rt cb-col cb-col-text-container">


                            <h2 class="cb-nws-hdln cb-font-18 line-ht24">
                                <a target="_self"
                                   class="cb-nws-hdln-ancr text-hvr-underline"
{#                                   value="//www.cricbuzz.com/{{ item["news_href"] }}"#}
                                   title="{{ item["player_name"] }}">
                                    {{ item["player_name"] }}
                                </a>
                            </h2>
                            <div class="cb-nws-intr">{{ item["player_country"] }}
                            </div>
                            <div>

                            <br/>
                            <button type="submit" name="view_profile" value="www.cricbuzz.com/{{ item["player_url"] }}" align="center" class="cb-more-btn"title="View Profile">
                            View Profile
                            </button>
                        </div>
                    </div>
                </div>
                </div>
        </form>
    {% endfor %}
    {% else %}
        <h1>Sorry No Data Found!!! <br/>Check Spelling and Try Again</h1>
    {% endif %}
    </div>
    </body>

    {% include '/common/footer.html' %}
    {% include '/common/footer-social.html' %}
{% endblock %}
