<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title>{{ title }} - cricHUB</title>
    {% else %}
        <title>cricHUB</title>
    {% endif %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <!-- DL Menu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/dl-menu/component.css') }}">
    <!-- ICONS CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
    <!-- Widget CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widget.css') }}">
    <!-- Shortcodes CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shortcodes.css') }}">
    <!-- Custom Main StyleSheet CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Color CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="gray-background">
<div class="rgb-wrapper">

    {% block content %} {% endblock %}

</div>

{% include '/common/scripts.html' %}



</body>

</html>