<!--Footer Wrap Start-->
<footer class="rgb-footer rgb-overlay">
    <div class="container">
        <div class="row">
                <!--Widget Text Start-->
                <div class="widget widget-text">
                    <h4 class="widget-title">About Us</h4>
                    <div class="text">
                        <p>Amit Roy | Saif Mahmud | Tauhid Tanjim<br/>
                            Tanjid Tonmoy | Rakibul Hasan
                            <br/>
                            <br/>

                        Department of Computer Science and Engineering<br/>
                        University of Dhaka</p>

                    </div>

            <!--<div class="col-md-3 col-sm-6">-->
                    <!--<div class="rgb-ft-contact theme-border">-->
                            <!--<span>-->
                                <!--<strong>Phone</strong>-->
                                <!--<em>(+88) 75863251</em>-->
                            <!--</span>-->
                        <!--<span>-->
                                <!--<strong>Email</strong>-->
                                <!--<em>mail@csedu.com</em>-->
                            <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--Widget Text End-->
            </div>
            <div class="col-md-3 col-sm-6">
            </div>
            <div class="col-md-3 col-sm-6">
            </div>
        </div>
    </div>
</footer>
<!--Footer Wrap End-->